:root {
    --vermelho:#b30a0a;
    --azul: #166bdb;
    --ciano: #00ffff;
    --preto: #222;
}


#logo img {
    height: 100px;
}

#navbar {
    padding: 1.2em 1.4em;
    margin-bottom: 1em;
    /* flex jogar um do lado o outro */
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    border-bottom: 1px solid #f6982d;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar li {
    margin-left: 1em;
    text-decoration: none;
    transition: .5s;
    font-weight: bold;
    color: rgb(12, 152, 233);
    cursor: pointer;
}

#navbar ul li a {
    text-decoration: none;
    transition: .5s;
    font-weight: bold;
    color: rgb(12, 152, 233);
}

#navbar ul li:hover {
    color: var(--azul);
}


#navbar ul li a:hover {
    color: var(--azul);
}


/* User profile */
#navbar ul li.user-profile {
    display: flex;
    align-items: center; 
    gap: 8px;
}

#navbar ul li.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#navbar ul li.user-profile p {
    margin: 0;
    font-weight: bold;
    color: white;
}

.userName {
    color: rgb(218, 13, 47);
}


/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .menuLinks {
    flex-direction: column;
    position: absolute;
    top: 80px; /* Ajuste a distância da barra superior conforme necessário */
    left: -100%;
    width: 100%;
    transition: all 0.5s ease;
    background-color: #222;
    padding: 20px;
  }

  .menuLinks.active {
    left: 0;
  }

  .menuLinks li {
    margin: 1em 0;
  }

  /* Estilizando os links do menu */
  .menuLinks a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .menuLinks a:hover {
    color: var(--azul);
  }
}